body{
    background-color: rgb(253, 124, 167);
}
.yo1{
    padding: 130;
    margin: 40;
    margin-top: 10;
    background-color: rgb(107, 170, 117);
}
.yoo1{
    padding: 100;
    margin: 40;
    margin-right: 920;
    background-color: rgb(107, 170, 117);
}
.yo2{
    padding: 130;
    margin: 40;
    margin-top: 10;
    background-color: rgb(107, 170, 117);
}
.yoo2{
    padding: 130;
    padding-left: 470;
    margin: 40;
    margin-top: 10;
    background-color: rgb(107, 170, 117);
}
.flex{
    display: flex;
}
