body{
    background-color: rgb(253, 124, 167);
}
.yo{
    padding: 130;
    margin: 30;
    background-color: rgb(107, 170, 117);
}
.flex{
    display: flex;
}

.red{
    padding-right: 450px;
    background-color: rgb(107, 170, 117);
}
.yellow{
    padding-bottom: 670px;
    background-color: rgb(107, 170, 117);
}
.blue{
    padding-bottom: 350;
    margin-top: 40;
    background-color: rgb(107, 170, 117);
}
.pink{
   padding: 130;
   padding-top: 350;
   margin-right: 30;
   background-color: rgb(107, 170, 117);
}
