body{
    background-color: rgb(253, 124, 167);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navbar{
    text-align: center;
    padding: 5px;
    background-color: rgb(107, 170, 117);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
}
.yo{
    padding: 130;
    margin: 30;
    background-color: rgb(107, 170, 117);
}
.flex{
    display: flex;
}

.red{
    padding-right: 450px;
    background-color: rgb(107, 170, 117);
}
.yellow{
    padding-bottom: 670px;
    background-color: rgb(107, 170, 117);
}
.blue{
    padding-bottom: 350;
    margin-top: 40;
    background-color: rgb(107, 170, 117);
}
.bluee{
    padding-bottom: 440;
    margin-top: 40;
    background-color: rgb(107, 170, 117);
}
.pink{
   padding: 130;
   padding-top: 350;
   margin-right: 30;
   background-color: rgb(107, 170, 117);
}
.white{
    padding-right: 450px;
    background-color: rgb(253, 124, 167);
    margin-top: 0;
}
.purple{
    margin-right: 405;
    background-color: rgb(107, 170, 117);
}
.green{
    padding-bottom: 430px;
    margin-top: 320px;
    background-color: rgb(107, 170, 117);
}
